* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: rgb(0, 0, 0);
}

.title-card {
    font-size: 16px;
    font-weight: 500;
}

.card {
    margin-bottom: 8px;
    background-color: rgb(252, 244, 246);
    border-radius: 20px;
    max-width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.columns-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: start;
    margin: 20px 10px 0 10px;
}

.column {
    min-width: 250px;
    background-color: rgb(255, 211, 218);
    border-radius: 15px;
    padding: 20px;
}

.column-name {
    margin-bottom: 8px;
}

.form-container {
    background-color: rgb(252, 244, 246);
    border-radius: 20px;
    max-width: 250px;
    padding: 20px;  
}

.form-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.form-group input, textarea {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    padding: 6px;
}


