<!Doctype html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
   <script defer src="js/vue.js"></script>
   <script defer src="js/main.js"></script>
   <link rel="stylesheet" href="css/main.css">

   <title>Kanban board</title>
</head>
<body>
<div id="app">
    <div class="columns-container">
        <div class="column">


            <div class="form-container">
                <h3>Создать новую задачу</h3>
                <div class="form-group">
                    <label for="">Заголовок:</label>
                    <input type="text" v-model="newTitle">
                </div>
                <div class="form-group">
                    <label for="description">Описание:</label>
                    <textarea v-model="newDescription" rows="1"></textarea>
                </div>
                
                <div class="form-group">
                    <label for="deadline">Дедлайн:</label>
                    <input type="date" v-model="newDeadline">
                </div>
                <button type="submit" class="button-create" @click="createCard()">Создать</button>
            </div>


            <div class="column-header">
                <h3 class="column-name">Запланированные задачи</h3>
            </div>

            <div class="card" v-for="card in getColumnNumber(1)" :key="card.id">

                <div v-if="editCard === card.id" class="edit-mode">
                    <input type="text" v-model="editTitle">
                    <textarea v-model="editDescription"></textarea>
                    <input type="date" v-model="editDeadline">
                    <div class="edit-buttons">
                        <button class="button-small" @click="saveEdit(card)">Сохранить</button>
                        <button class="button-small" @click="cancelEdit()">Отмена</button>
                    </div>
                </div>

                <div v-else class="card-inline view-mode">
                    <h3 class="title-card">{{ card.title }}</h3>
                    <p class="description">{{ card.description }}</p>
                    <span class="start-date">{{ card.createdAt }}</span>
                    <span class="deadline">{{ card.deadline }}</span>
                    <div class="buttons">
                        <button class="button-small" @click="startEdit(card)"> Редактировать</button>
                        <button class="button-small delete-button" @click="deleteCard(card.id)">Удалить</button>
                        <button class="button-small" @click="moveCard(card.id, 2)">В работу</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="column">
            <div class="column-header">
                <h3 class="column-name">Задачи в работе</h3>
            </div>
            <div class="card" v-for="card in getColumnNumber(2)" :key="card.id">

                <div v-if="editCard === card.id" class="edit-mode">
                    <input type="text" v-model="editTitle">
                    <textarea v-model="editDescription"></textarea>
                    <input type="date" v-model="editDeadline">
                    <div class="edit-buttons">
                        <button class="button-small" @click="saveEdit(card)">Сохранить</button>
                        <button class="button-small" @click="cancelEdit()">Отмена</button>
                    </div>
                </div>
                
                <div v-else class="card-inline view-mode">
                    <h3 class="title-card">{{ card.title }}</h3>
                    <p class="description">{{ card.description }}</p>
                    <span class="start-date">{{ card.createdAt }}</span>
                    <span class="deadline">{{ card.deadline }}</span>
                    <div class="buttons">
                        <button class="button-small" @click="startEdit(card)"> Редактировать</button>
                        <button class="button-small delete-button" @click="deleteCard(card.id)">Удалить</button>
                        <button class="button-small" @click="moveCard(card.id, 3)">В тестирование</button>
                    </div>
                    <div v-if="card.returnReason" class="return-reason">
                        <small>Причина возврата в работу: {{ card.returnReason }}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="column-header">
                <h3 class="column-name">Тестирование</h3>
            </div>
            <div class="card" v-for="card in getColumnNumber(3)" :key="card.id">
                <h3 class="title-card">{{ card.title }}</h3>
                <p class="description">{{ card.description }}</p>
                <span class="start-date">{{ card.createdAt }}</span>
                <span class="deadline">{{ card.deadline }}</span>
                <div class="buttons">
                    <button class="button-small"> Редактировать</button>
                    <button class="button-small delete-button" @click="deleteCard(card.id)">Удалить</button>
                    <button class="button-small" @click="moveCard(card.id, 4)">Выполнить</button>
                    <button class="button-small" @click="moveCard(card.id, 2)">Вернуть в работу</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="column-header">
                <h3 class="column-name">Выполненные задачи</h3>
            </div>
            <div class="card" v-for="card in getColumnNumber(4)" :key="card.id">
                <h3 class="title-card">{{ card.title }}</h3>
                <p class="description">{{ card.description }}</p>
                <span class="start-date">{{ card.createdAt }}</span>
                <span class="deadline">{{ card.deadline }}</span>
                <div class="buttons">
                    <button class="button-small delete-button" @click="deleteCard(card.id)">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>